.login_container {
  width: 100vw;
  height: 100vh;
  background-color: #252525;

  .main {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8vw;

    .title_box {
      width: 100%;
      display: flex;
      margin-top: 10vh;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      padding: 0 5vw;
      gap: 3vw;

      .title {
        font-family: "Comic Sans MS";
        font-size: 5.5vw;
        font-weight: bold;
        margin-bottom: 2vw;
      }
      .note {
        font-size: 3.2vw;
      }
    }
    .email_box {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      padding: 0 5vw;
      gap: 4vw;
      .top_box {
        width: 100%;
        .email {
          font-size: 3vw;
          font-weight: 400;
        }
        .input_box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          gap: 3vw;
          .icon {
            position: absolute;
            left: 5%;
            top: 30%;
            color: #d0cbd6;
          
          }
          input {
            width: 100%;
            height: 8vh;
            border-radius: 12px;
            border: none;
            padding-left: 14vw;
            background-color: #4d4d4d;

            &:focus {
              outline: none;
              border: 2px solid #9B73D3;
            }

            &::placeholder {
              color: #c8c1cd;
              font-weight: 300;
              font-size: 4.5vw;
            }
          }
        }
      }
      .note {
        font-size: 3.2vw;
        color: #D5D0D4;
      }
    }
    .footer_box {
      margin-top: auto;
      width: 100%;
      display: flex;
      padding: 4vw;
      gap: 3vw;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 4vw;
      .customer{
        width: 100%;
        background-color: #9B73D3;
        padding: 2vw;
        border-radius: 1vw;
        padding: 3vw;
        border-radius: 6px;
        text-align: center;
      }
    }
  }
}
