@import "@/variables.scss";

.userHome_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .bg_Img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    mask-image: linear-gradient(to top, transparent 40%, black 100%);
  }
  .more {
    margin-left: auto;
    position: relative;
    padding: 0 4vw;
    // &::after {
    //   content: "";
    //   width: 1.8vw;
    //   height: 1.8vw;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: -10%;
    //   right: 0;
    // }
  }
  .main {
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex: 1;
    .detail_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10vh;
      padding: 0 6vw;
      .avator {
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
        .icon {
          border-radius: 12px;
          position: absolute;
          bottom: 0;
          right: 28%;
          background-color: orange;
          padding: 0vw 2.5vw;
          font-size: 2.5vw;
          text-align: center;

          &.active {
            color: #fff;
            background-color: $primary_color;
          }
        }
      }
      .detail {
        display: flex;
        gap: 15vw;

        .item_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2vw;
          .num {
            font-size: 4.3vw;
            font-weight: bold;
          }
          .item {
            font-size: 3.3vw;
            font-weight: 400;
          }
        }
      }
    }
    .desc_box {
      margin-top: 2vw;
      padding: 0 6vw;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .name {
        font-size: 4.5vw;
        font-weight: 400;
      }
      .desc {
        font-size: 4vw;
        font-weight: 300;
        word-break: break-all;
      }
      .option {
        display: flex;
        gap: 2vw;
        .check,
        .pay,
        .set {
          font-size: 3.5vw;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
        }
        .check {
          padding: 2vw 15vw;
          background-color: transparent;
          border: 1px solid $primary_color;
          color: $primary_color;
        }
        .pay {
          padding: 2vw 15vw;
        }
        .set {
          font-size: 5vw;
          padding: 2vw;
        }
      }
    }
    .tab_box {
      display: flex;
      position: sticky;
      top: 6.8%;
      z-index: 3;
      .tab {
        font-size: 3.5vw;
        font-weight: 300;
        padding: 5vw 6vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;

        .icon {
          width: 4.5vw;
          height: 4.5vw;
          margin-top: 1px;
        }
      }
    }
    .myFavorite_box {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4vw;
      .video_box {
        position: relative;
        width: 33vw;
        height: 33vw;
        .video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .play_count,
        .duration {
          position: absolute;
          color: #fff;
          font-size: 3.5vw;
          font-weight: 300;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1vw;
        }
        .play_count {
          bottom: 1vw;
          left: 2vw;
        }
        .duration {
          bottom: 1vw;
          right: 2vw;
        }
      }
    }
    .myWorks_box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      .empty_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10vw;
        .title_box {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 1vw;
          .title {
            font-size: 4.5vw;
            font-weight: 400;
          }
          .desc {
            font-size: 3.5vw;
            font-weight: 300;
          }
        }
        .create {
          padding: 2vw 5vw;
          font-size: 3.5vw;
          font-weight: 300;
          border-radius: 6px;
        }
      }
    }
  }
  .popup {
    .popup_box {
      height: 15vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 4vw 5vw;

      .cancel,
      .confirm {
        display: flex;
        align-items: center;
        gap: 4vw;
      }
    }
  }
}
