@import "@/variables.scss";
.video_container {
  width: 100%;
  min-height: 100%;

  .more {
    margin-left: auto;
    position: relative;
    padding: 0 0.8rem;
  }
  .detail_box {
    width: 100%;
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .title_box {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .title {
        font-size: 0.8rem;
      }
      .detail {
        font-size: 0.6rem;
      }
    }

    .user_box {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      .avator {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .info {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        margin-right: auto;
        .name {
          font-size: 0.7rem;
          font-weight: bold;
        }
        .desc {
          font-size: 0.6rem;
        }
      }
      .focus {
        background-color: $primary_color;
        color: #fff;
        padding: 0.3rem 1.2rem;
        border-radius: 24px;
        font-size: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .option_box {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      overflow: auto;

      .option {
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.3rem 0.8rem;
        border-radius: 24px;
        .icon {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
    .comment_box {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      background-color: #313131;
      padding: 0.4rem 0.6rem 0.2rem 0.6rem;
      border-radius: 8px;

      .up_box {
        display: flex;
        justify-content: space-between;
        font-size: 0.6rem;
        .total {
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
      }
      .content_box {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        .avator_box {
          img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .content {
          font-size: 0.6rem;
        }
      }
    }
  }
  .video_box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
