.carousel_container {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  .carousel {
    display: flex;
    .item {
      min-width: 100vw;
      height: 50vh;
      object-fit: contain;
      margin-top: calc(0.5vw + 0.5vh);
    }
  }
}
