.video_player_container {
  position: relative;

  .video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .control_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .range-input {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      outline: none;
      border-radius: 15px;
      height: 1vw;
      background: #ccc;
    }

    .range-input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 3.5vw;
      width: 3.5vw;
      background-color: white;
      border-radius: 50%;
      border: 1vw solid #9e7ed6;
      transition: 0.2s ease-in-out;
    }
  }

  .play_pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    color: #fff;
    z-index: 1;
  }
  .fullScream {
    position: absolute;
    right: 4vw;
    bottom: 4vw;
    font-size: 5vw;
    color: #fff;
    z-index: 1;
  }
}
