$primary_dark: #d0cbd6;
$primary_light: #545454;

$note_dark: #f0c0bd;
$note_light: #c3050c;

$avator_dark: #9e7ed6;
$avator_light: #9e7ed6;

$btn_dark: #9e7ed6;
$btn_light: #9e7ed6;

$tab_dark: #9e7ed6;
$tab_light: #9e7ed6;

$tab_bg_dark: #544d64;
$tab_bg_light: #eadefa;

$desc_dark: #bebcbd;
$desc_light: black;

$title_dark: white;
$title_light: black;

$theme_dark: #252525;
$theme_light: white;

$primary_color: #9e7ed6;

$option_dark: #6c4352;
$option_dark_color: #f7d6e2;

$option_light: #6c4352;
$option_light_color: #f7d6e2;
